:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.card-title, .songs-list {
  padding-top: 1.25rem;
}

.fa-youtube-play {
  color: #c4302b
}

.fa-music {
  color: #42a5f5
}

.artist-song {
  color: #212529;
  margin-right: 1.25rem;
  cursor: pointer;
}

.song-description {
  margin-left: 2.375rem;
}

.artist-album-row {
  margin-bottom: 4.5rem;
}

.album-art-img {
  /* margin-top: -1.25rem;
  margin-left: -1.25rem;
  margin-right: -1.25rem; */
}